<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% assets "main_css" %}
    <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
    {% endassets %}
    <link rel="shortcut icon" href="/static/favicon.png">
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <title>About</title>
</head>

<body>
    <div id="shadow" class="shadow"></div>
    `<div class="toggle-btn-wrapper">
        <div id="toggle-btn" class="toggle-btn" onClick="openMenu()">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
        <script>
            function openMenu(){
                $("#menu")[0].classList.toggle('active');
            }
        </script>
        <div id="logo-wrapper">
        <a href="/">
            <div id="logo">
                <img class="rel" src="/static/RAMSES.png" alt="RAMSES Logo">
            </div>
        </a>
    </div>
        <div id="menu" class="menu">
            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="/contact">CONTACT</a></li>
                <li><a href="/about">ABOUT</a></li>
                <li><a href="/options">OPTIONS</a></li>
            </ul>
        </div>
        <div style="position: absolute; left: 20%; top: 20%; width: 60%; margin: auto; text-align: left;">
            <h2>Dashboard Configuration Options</h2>
            <h3>Add a patient</h3>
            <form action="/add-patient" method="POST">
                <p>Patient Name <input type = "text" name="name"/></p>
                <p>Bed ID <input type = "text" name="bed"/></p>
                <p><input type = "submit" value = "submit" /></p>
            </form>
            <!-- if its possible i should have some kind of on submit function that makes sure the us wants to do something -->
            <h3>Deactivate a bed</h3>
            <form action="/deactivate-bed" method="POST">
                <p>Bed ID <input type = "text" name="bed"/></p>
                <p><input type = "submit" value = "submit" /></p>
            </form>
        </div>
</body>
</html>
